html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;  
    font-family: 'Montserrat';
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: auto;
}

.sec_grey {
    background-color: #F8F6F7;
}

section:not(:first-child) {
    padding-top: 100px;
}

.container {
    max-width: 1110px;
    margin: auto;
    overflow: hidden;
}

.sec-title {
    margin: 0 0 32px;
    font-size: 48px;
    font-weight: 700;
}

.title {
    font-size: 18px;
    line-height: 22px;
    margin: 0;

    &_medium {
        font-weight: 500;
    }
}

.subtitle {
    font-size: 14px;
    line-height: 22px;
    margin: 0;

    &_margincenter {
        font-size: 16px;
        margin-top: 100px;
        text-align: center;
        margin-bottom: 40px;
    }

    &_small {
        font-size: 12px;
    }
} 

a {
    color: #278aff;
}

a:hover {
    color: #00BF78;
}

.btn {
    width: 112px;
    height: 34px;
    border: none;
    color:#ffffff;
    background-color: #FB9475;
    transition: .3s transform;
    border-radius: 24px;
    font-size: 12px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

img {
    border-radius: 8px;
    object-fit:contain; 
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 0;
    font-size: 12px;
}