

@media only screen and (max-width: 1460px) {
   
    .container-work .sec-headder {
        margin-left: 0;
        justify-content: space-around;
    }
}

/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
    
    .plus {
        justify-content: center;
    }
    
    .header-bottom {
        &__lady {
            img {
                width: 400px;
            }

            &:before {
                width: 400px;
                height: 400px;
            }
        } 

        &__btn {
            margin-bottom: 50px;
        }

        .socmedia {
            margin-bottom: 100px;
        }
    }
} 

@media only screen and (max-width: 1130px) { 
    
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sec-prices .position-list, 
    .sec-about .plus, 
    .sec-services .service-field {
        justify-content: center;
    }
}

/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 
   
    .header-top__burger { 
        display:flex;
    }

    .sec-title,
    .sec-masters__subtitle {
        text-align: center;
    } 

    .sec-about .salontext,
    .sec-masters .masters-field,
    .sec-prices .categories {
        justify-content: center;
    }

    .navigation__list {
        display: none;
    }

    .header-bottom {
        
        &__title {
            margin-top: 70px;
        }

        &__lady {
            img {
                width: 300px;
            } 

            &:before {
                width: 300px;
                height: 300px;
            }
        }
    }
    
    .sec-about .salontext__text {
        width: 100%;
    }

    .sec-contacts__inner {
        justify-content: center;
        gap: 30px;
    }
    .sec-contacts__inner .contact {
        order: 2;
    }
    .sec-contacts__form {
        justify-content: center;
        order: 1;
    }
} 

/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {
    
    .header-bottom {
        &__lady {
            display: none;
        }

        .socmedia {
            margin-bottom: 30px; 
        }
    }
} 

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 

    .header-top {
        gap: 15px;
    } 

    .phoneinfo__tel {
        text-align: left;
    }

    .about__video img {
        max-width: 350px;
    }

    .sec-title {
        font-size: 36px;
    }

}
