
@media only screen and (max-width: 1460px) {
   
    .container-work .section-headder {
        margin-left: 0;
        justify-content: space-around;
    }
}

/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
    
    .plus {
        justify-content: center;
    }
    
    .header-bottom {
        &__lady {
            img {
                width: 400px;
            }

            &:before {
                width: 400px;
                height: 400px;
            }
        } 

        &__btn {
            margin-bottom: 50px;
        }

        .socmedia {
            margin-bottom: 100px;
        }
    }
} 

@media only screen and (max-width: 1130px) { 
    
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-prices .position-list, 
    .section-about .plus, 
    .section-services .service-field {
        justify-content: center;
    }
}

/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 
   
    header .header-top {
        align-items: center;

        & .burger { 
            display: flex;
        }
    }

    .section-title,
    .section-masters__subtitle {
        text-align: center;
    } 

    .section-about .salontext,
    .section-masters .masters-field,
    .section-prices .categories {
        justify-content: center;
    }

    .navigation__list {
        display: none;
    }
    
    .header-bottom {
        
        &__title {
            margin-top: 70px;
        }

        &__lady {

            img {
                width: 300px;
            } 

            &:before {
                width: 300px;
                height: 300px;
            }
        }
    }
    
    .section-about .salontext__text {
        width: 100%;
    }

    .section-contacts {
        &__inner {
            justify-content: center;
            gap: 30px;

            & .contact {
                order: 2;
                height: 400px;
            }
        }

        &__form {
            justify-content: center;
            order: 1;
        }
    }

    .container-work .section-work__inner .gallery__foto {
        height: 400px; 
    }

    .slick-prev {
        left: 40%;
        top: -5px;
    }
    
    .slick-next {
        left: 60%;
        top: -5px;
    }
} 

/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {
    
    .header-bottom {
        &__lady {
            display: none;
        }

        .socmedia {
            margin-bottom: 30px; 
        }
    }
    
    .container-work .section-work__inner .gallery__foto .fotowork {
            height: 300px;
            width: 300px;
    }
} 

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 

    .header-top {
        gap: 15px;

        & .phoneinfo {
            display: none;
        }
    } 

    .header-bottom {
        &__title {
        font-size: 36px;
        line-height: 40px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
 
    .about__video img {
        max-width: 350px;
    }

    .section-title {
        font-size: 36px;
    }

    .section-contacts__form .form {
        width: 350px;
    }
    .section-contacts__form .form input,
    .section-contacts__form .form__btn {
        width: 280px;
    }
}
